%p#notice= notice
%h1 Journals
%table
  %thead
    %tr
      %th Body
      %th{:colspan => "3"}
  %tbody
    - @journals.each do |journal|
      %tr
        %td= journal.body
        %td= link_to 'Show', journal
        %td= link_to 'Edit', edit_journal_path(journal)
        %td= link_to 'Destroy', journal, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Journal', new_journal_path
